body {
  background-image: url(./images/Untitled.png);
  background-size: 1800px 1800px;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 25px 50px 75px 100px;
  font-family: 'Libre Baskerville', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}